<div class="row">
    @Html.ActionLink("Edit Users", "Index", "Users", null, new { @class = "btn btn-primary" })
    @Html.ActionLink("Edit Countries", "Index", "Countries", null, new { @class = "btn btn-primary" })
    @Html.ActionLink("Edit Divisions", "Index", "Divisions", null, new { @class = "btn btn-primary" })
</div>
