<div class="row">
    @Html.ActionLink("User statistics", "Index", "Statistics", null, new { @class = "btn btn-primary" })
    @Html.ActionLink("Badge statistics", "BadgeIndex", "Statistics", null, new { @class = "btn btn-primary" })
    @Html.ActionLink("Points statistics", "PointsIndex", "Statistics", null, new { @class = "btn btn-primary" })
</div>

