@model Gamification.Models.Users

@{
    ViewBag.Title = "EditPassword";

}

<h2>Edit Password</h2>

<hr />

@if (TempData["PassChanged"] != null)
{
    <div class="alert alert-danger-message">@TempData["PassChanged"]</div>
}

@using (Html.BeginForm("EditPasswordConfirm", "Users", new { id = Model.UserID }, FormMethod.Post, new { @class = "form", role = "form" }))
{
    <div class="form-group">
        @Html.Label("Old Password", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10" style="padding-bottom: 25px;">
            <input id="oldPass" name="OldPassword" type="text" required class="form-control valid" data-val="true" data-val-required="This field is required"  placeholder="Provide your old password" autocomplete="off" />
            <span class="field-validation-valid text-danger" data-valmsg-for="OldPassword" data-valmsg-replace="true"></span>
        </div>
    </div>

    <div class="form-group">
        @Html.Label("New Password", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10" style="padding-bottom: 25px;">
            <input id="newPass" name="NewPassword" type="password" required class="form-control valid" data-val="true" data-val-required="This field is required"  placeholder="Provide your new password" autocomplete="off" />
            <span class="field-validation-valid text-danger" data-valmsg-for="NewPassword" data-valmsg-replace="true"></span>
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Confirm New Password", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10" style="padding-bottom: 25px;">
            <input id="newPassConfirm" name="NewPasswordConfirmed" type="password" required class="form-control valid" data-val="true" data-val-required="This field is required" data-val-equalto-other="NewPassword" data-val-equalto="Confirm password field must match the new password field!"  placeholder="Confirm your new password" autocomplete="off" />
            <span class="field-validation-valid text-danger" data-valmsg-for="NewPasswordConfirmed" data-valmsg-replace="true"></span>
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-success" />
        </div>
    </div>

}

@{
    <script type="text/javascript">
        window.onload = function(e){

            var oldPass = document.getElementById("oldPass");
            var newPass = document.getElementById("newPass");
            var newPassConfirm = document.getElementById("newPassConfirm");
            oldPass.value = "";
            newPass.value = "";
            newPassConfirm.value = "";
            
           
            
        }
       
    </script>
}

<div class="clearfix"></div>


